<article class="contact-page">
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2">-->
                <div class="wrapper">
                    <header class="contact-header">Thank you for stopping by! If you have a question, please fill out the form below and we will get back to you as soon as possible!</header> <br>

                    <form method="post" action="https://docs.google.com/forms/d/1KsotBI1OW0FET0iSJ758iTUJbbFhAQuyyv_gkh9PKDo/formResponse" class="ccform">
                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="name">Name:</label>
                        </div>
                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.1053428742" placeholder="Full Name" required>
                        </div>
                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="email">Email:</label>
                        </div>
                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.1990977322" placeholder="Email" required>
                        </div>
                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="subject">Subject:</label>
                        </div>
                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.1050307338" placeholder="Subject" required>
                        </div>
                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="message">Message:</label>
                        </div>
                        <div class="ccfield-prepend">
                            <textarea class="ccformfield" name="entry.74121905" rows="8" placeholder="Message" required></textarea>
                        </div>
                        <div>
                            <input class="ccbtn" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
                <br>
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="container affiliates">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <header class="contact-page">
                    <h3 class="list-text">Check out the links below for more ways to get involved in this conversation</h3>
                </header>
                <ul class="affiliates2">
                    <li><a class="contact-label" href="https://insearchofjesus.wordpress.com/2015/05/20/se7enfast">Why Se7en Fast?</a></li>
                    <li><a class="contact-label" href="http://isaac-ishmael.us/">Isaac Ishmael Initiative</a></li>
                    <li><a class="contact-label" href="http://www.shouldertoshouldercampaign.org/">Shoulder to Shoulder Campaign</a></li>
                    <li><a class="contact-label" href="http://knowyourneighbor.us/">Know Your Neighbor Coalition</a></li>
                    <li><a class="contact-label" href="http://www.eidpraylove.com/">Eid.Pray.Love</a></li>
                    <li><a class="contact-label" href="http://frienemies.podbean.com/">Frienemies: The Podcast</a></li>
                    <li><a class="contact-label" href="http://wfpusa.org/">World Food Programme USA</a></li>
                </ul>
            </div>
        </div>
    </div>
</article>