<div class="container-fluid mainCollage">
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1 thumbnail3 thumbhide">
      <img src="../../media/dciftar3.jpg">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1 thumbhide">
      <img src="../../media/ty.jpg">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1">
      <img src="../../media/friends.jpg">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1">
      <img src="../../media/jeffQuote.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1 thumbhide">
      <img src="../../media/peoriaiftar1.jpg">
    </div>
    <div class="col-md-3  col-sm-6 col-xs-6 thumbnail thumbnail1 thumbhide">
      <img src="../../media/dciftar2.jpg">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1">
      <img src="../../media/jesseyQuote.jpg">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1">
      <img src="../../media/dciftar5.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-mm-6 col-xs-12 thumbnail thumbnail2">
      <img class="longQuote" src="../../media/laurenQuote.jpg">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1">
      <img src="../../media/peoriaiftar2.jpg">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1">
      <img src="../../media/danny.jpg">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1 thumbhide">
      <img src="../../media/dciftar1.jpg">
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 thumbnail thumbnail1 thumbhide">
      <img src="../../media/dciftar4.jpg">
    </div>
    <div class="col-md-6 col-xs-12 thumbnail thumbnail2">
      <img class="longQuote" src="../../media/neelamQuote.jpg">
    </div>
    </div>
</div>