<article class="">

    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-8 col-md-offset-2">-->
                <div class="wrapper">
                    <header class="register-header">
                        <h1 class="">Register to Host a SE7EN FEAST</h1>
                        <p class="">Thank you for your interest in hosting a SE7EN FEAST! We are asking all 'fasters' to RSVP to you so that you will know how many people to expect on 6.7.16. Please fill out this form so we can help people find and get in contact with you:</p>
                    </header>
                    <form method="post" action="https://docs.google.com/forms/d/1hcvXspjw3GP04hlDBeyf2m3gJ5cYrSduUFPnmRF29QA/formResponse" class="ccform">

                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="eventDate">Date of Event:</label>
                        </div>

                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.545587916" placeholder="Please enter the date of the event. (Many feasts will take place on 6/7/16, but please enter the date of your feast.)" required>
                        </div>

                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="eventTime">Time of Event:</label>
                        </div>

                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.197235571" placeholder="Please enter the time of the event." required>
                        </div>

                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="locationName">Location Name:</label>
                        </div>

                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.135903105" placeholder="Ex: 'Personal Residence', 'Masjid al Salaam', 'Hessel Park', etc." required>
                        </div>

                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="locationCapacity">Capacity:</label>
                        </div>

                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.1818078313" placeholder="Enter the capacity of the event here" required>
                        </div>

                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="streetAddress">Street Address:</label>
                        </div>
                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.999675490" placeholder="Enter the street address here" required>
                        </div>

                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="addressCity">City:</label>
                        </div>
                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.1473023765" placeholder="Enter the city here" required>
                        </div>

                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="addressState">State:</label>
                        </div>

                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.1865068425" placeholder="Enter the TWO letter abbreviation for your state here" required>
                        </div>

                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="contactPerson">Contact Person:</label>
                        </div>

                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.334880644" placeholder="Enter your full name here" required>
                        </div>
                        <div class="ccfield-prepend1">
                            <label class="formLabel" for="contactPersonEmail">Contact Person's Email:</label>
                        </div>
                        <div class="ccfield-prepend">
                            <input class="ccformfield" type="text" name="entry.1801464495" placeholder="Enter your email here" required>
                        </div>

                        <div>
                            <input class="ccbtn" type="submit" value="Submit">
                        </div>
                    </form>
                </div>


                <!--Below is for form if database is needed-->
                <!--<form class="hostAFeast" ng-submit="formSubmit()" ng-model="form">-->
                <!--<div class="form-group col-sm-8 col-sm-offset-2">-->
                <!--<label for="locationName">Location Name:</label>-->
                <!--<input type="text" ng-model="form.locationName" class="form-control" id="locationName" placeholder="Ex: 'Personal Residence', 'Masjid al Salaam', 'Hessel Park', etc.">-->
                <!--</div>-->

                <!--<div class="form-group col-sm-8 col-sm-offset-2">-->
                <!--<label for="streetAddress">Street Address:</label>-->
                <!--<input type="text" ng-model="form.streetAddress" class="form-control" id="streetAddress" placeholder="Enter the street address here">-->
                <!--</div>-->

                <!--<div class="form-group col-sm-4 col-sm-offset-2">-->
                <!--<label for="addressCity">City:</label>-->
                <!--<input type="text" ng-model="form.city" class="form-control" id="addressCity" placeholder="Enter the city here">-->
                <!--</div>-->

                <!--<div class="form-group col-sm-4">-->
                <!--<label for="addressState">State:</label>-->
                <!--<input type="text" ng-model="form.state" class="form-control" id="addressState" placeholder="Enter the state here">-->
                <!--</div>-->

                <!--<div class="form-group col-sm-4">-->
                <!--<label for="locationCapacity">Event Capacity:</label>-->
                <!--<input type="text" ng-model="form.capacity" class="form-control" id="locationCapacity" placeholder="Enter the state here">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label for="contactPerson">Contact Person:</label>-->
                <!--<input type="text" ng-model="form.contactPerson" class="form-control" id="contactPerson" placeholder="Enter your name here">-->
                <!--</div>-->

                <!--<div class="form-group">-->
                <!--<label for="contactPersonEmail">Contact Person's Email:</label>-->
                <!--<input type="text" ng-model="form.contactEmail" class="form-control" id="contactPersonEmail" placeholder="Enter your email here">-->
                <!--</div>-->

                <!--<button type="submit" class="btn btn-default">Submit</button>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</article>









    <br>
    <br>
    <br>
